@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply font-bold py-2 px-4 rounded;
}

.btn-blue {
    @apply bg-gray-500 text-white;
}

.btn-blue:hover {
    @apply bg-gray-400;
}